/bin/*
/lib/*
/lib64/*
/obj/*
*.ncb
*.suo
*.sdf
/src/windows/*.vcproj.*.user
/src/windows/*.vcxproj.user

/aclocal.m4
/autom4te.cache/*
/config.guess
/config.log
/config.status
/config.sub
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/m4/*
/Makefile
/missing
/src/*.o
/src/*.lo
/src/*.la
/src/.deps
/src/.libs
/src/Makefile
/src/verifier
Makefile.in
